{% load staticfiles tags %}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <div class="navbar-logo">
            <a class="navbar-brand" href="{% url 'index' %}">Heartbeat <img src="{% static 'images/pulse.png' %}" /></a>
        </div>
    </div>
    
    <ul class="nav navbar-top-links navbar-right">
        
        <li>
            <a href="{% url 'host:all' %}">Hosts</a>
        </li>
        
        <li>
            <a href="{% url 'service:all' %}">Services</a>
        </li>
    
        <li>
            <a href="{% url 'inject:all' %}">Injects</a>
        </li>
    
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <b>{{ request.user.username }}</b> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li>
                    <a href="{% url 'passwd' %}"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
        
    </ul>
</nav>