{% extends 'base.html' %}
{% load tags %}
    
{% block content %}
    <div class="col-lg-3 col-buffer">
        <div class="row">
            {% for team in teams %}
                <div class="col-lg-12">
                    {% include 'tiles/team.html' %}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% symbol 'bell' extras='fa-fw' %} Staff Actions
                    </div>
                
                    <div class="panel-body">
                        <a href="{% url 'schedule:toggle' %}" class="btn btn-default btn-block">
                            {% if schedule.visible %}
                                {% symbol 'refresh' extras='fa-spin' %} Stop Service Checks
                            {% else %}
                                {% symbol 'random' %} Start Service Checks
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-9 col-buffer">
        <div class="row">
            <div class="col-lg-12">
                {% include 'timeline.html' %}
            </div>
        </div>
    </div>
{% endblock %}