{% load staticfiles tags %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-logo">
                <a class="navbar-brand" href="{% url 'index' %}">Heartbeat <img src="{% static 'images/pulse.png' %}" /></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a style="color:yellow" {% if user.is_superuser %}href="{% url 'admin:index' %}"{% endif %}>
                        {{ request.user.username }}
                    </a></b></li>
                    <li><a href="{% url 'passwd' %}">Change Password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>