{% load tags %}

<li {% if not check.status %}class="timeline-inverted"{% endif %}>
    <div class="timeline-badge {% if check.status %}info{% else %}danger{% endif %}">
        {% symbol check.team category='team' %}
    </div>
    <div class="timeline-panel">
        <div class="col-xs-7">
            <div class="timeline-heading">
                <h4 class="timeline-title">
                {% symbol check.status category='check-status' %} {% firstof check.service check.host %}
                </h4>
                <p class="timeline-entry-details">
                    <small class="text-muted">
                        {% symbol 'clock' %} {{ check.timestamp }}
                    </small>
                </p>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="timeline-body text-right">
                <p>{{ check.details }}</p>
            </div>
        </div>
    </div>
</li>
