{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-12">
        {% if active_injects %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Active Injects</h1>
                </div>
            </div>
            <div class="row">
                {% for inject in active_injects %}
                    {% include 'tiles/inject.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if inactive_injects %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Inactive Injects</h1>
                </div>
            </div>
            <div class="row">
                {% for inject in inactive_injects %}
                    {% include 'tiles/inject.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if completed_injects %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Completed Injects</h1>
                </div>
            </div>
            <div class="row">
                {% for inject in completed_injects %}
                    {% include 'tiles/inject.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if not active_injects and not inactive_injects and not completed_injects %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">No Injects Configured!</h1>
                </div>
            </div>
        {% endif %}
        {% include 'floating_menu.html' with label="New Inject" add_url='inject:add' %}
    </div>
{% endblock %}