<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Status</th>
                <th>Protocol/Port</th>
                <th>Uptime</th>
                <th>Value</th>
                <th>Last Checked</th>
                <th>Passwd</th>
            </tr>
        </thead>
        <tbody>
            {% for service in host.services.all %}
                <tr>
                    <td>{{ service.status }}</td>
                    <td>{{ service.protocol }} [{{ service.port }}]</td>
                    <td>{{ service.uptime }}</td>
                    <td>{{ service.point_value }}</td>
                    <td>{{ service.last_checked }}</td>
                    <td>Change Creds</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>