<div class="panel panel-default">
    <div class="panel-heading">
        Kitchen Sink
    </div>
  
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        {% for column in table.header %}
                            {{ column|safe }}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for element in table.body %}
                        <tr>
                            {% for column in element %}
                                {{ column|safe }}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>