{% load tags %}

<li {% if not element.status %}class="timeline-inverted"{% endif %}>
    <div class="timeline-badge {% if element.status %}info{% else %}danger{% endif %}">
        <i class="fa fa-{% team_icon element.host.team.group %}"></i>
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">
            <i class="fa fa-thumbs-o-{% if element.status %}up{% else %}down{% endif %}"></i> {% firstof element.service element.host %}
            </h4>
            <p>
                <small class="text-muted">
                    <i class="fa fa-clock-o"></i> {{ element.timestamp }}
                </small>
            </p>
        </div>
        <div class="timeline-body">
            <p>{{ element.description }}</p>
        </div>
    </div>
</li>
