{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="Scoring Engine for Red Team/Blue Team Cyber Defense Competitions">
        <meta name="author" content="Nick Martin, nickmartin@mail.rit.edu">
        <link rel="icon" href="{% static 'images/favicon-32x32.png' %}">
        
        <title>CDT Scoring Engine</title>
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
        
        {{ form.media }}    <!--Needed for Crispy-Forms-->
    </head>

    <body>
        {% if request.user.is_authenticated %}
            <div id="wrapper">
                {% include 'navbar.html' %}
                
                <div id="page-wrapper">
                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% else %}
            {% block auth %}{% endblock %}
        {% endif %}
        
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    </body>

</html>